* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: white;
    box-sizing: border-box;
}

root {}

body {
    background: url(assets/bg-image.svg) no-repeat top center/cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

body, * {
    transition: 0.5s;
}

#container {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 30px;
    width: 360px;
    margin: auto;
    padding: 30px;
    border-radius: 25px;
    height: fit-content;
}

#profile {
    text-align: center;
}

#profile img {
    border-radius: 999px;
    width: 250px;
    border: 5px solid rgb(80, 148, 114);
    box-shadow: 0 0 1em 0 #639491;
}

#profile p {
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
}

#profile span a {
    color: #b9f8cd;
    font-size: 0.8em;
    text-decoration: none;
    transition: 0.4s;
}

#profile span a:hover {
    text-shadow: 1px 1px 0.3em #b5d3c6;
    transition: 0.4s;
    color: #a876d7;
    outline: none;
}

#profile span a:focus {
    text-shadow: 1px 1px 0.3em #b5d3c6;
    transition: 0.2s;
    color: #a876d7;
    outline: none;
}

#links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#links ul {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 23px;
    padding: 0px 36 36px;
    list-style: none;
}

#links a {
    display: inline-block;
    padding: 15px;
    background-color: #8fdca7;
    color: rgb(34, 34, 34);
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
    transition: 1s;
    width: 250px;
}

#links a:hover {
    transition: 0.3s;
    background-color: #a0f2ba;
    box-shadow: 0 0 0.9em 0 #a0f2ba;
    transition: 0.2s;
}

#links a:focus {
    outline: none;
    box-shadow: 0 0 0.9em 0 #a0f2ba;
    transition: 0.1s;
}

#social {

    text-align: center;
}

#social ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
}

#social li {
    align-items: center;
    display: flex;
    align-items: center;
}

#social a {
    display: flex;
}

#social img {
    padding: 5px;
    transition: 0.3s;
    border-radius: 2px;
}

#social img:hover {
    background-color: rgba(240, 255, 255, 0.079);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}
footer {
    display: flex;
}

footer span {
    background-color: rgba(255, 255, 255, 0.039);
    border-radius: 99px;
    padding: 5px 15px;
    font-size: 0.65em;
    color: rgb(219, 187, 239);
}

@media (max-width: 700px) {
    body, * {
        transition: 1s;
    }

    body {
        background: url(assets/bg-image.svg) no-repeat top center/cover;
        min-height: 100vh;
        display: flex;
        align-items: center;
        padding-top: 55px;
    }

    #profile img {
        width: 200px;
        box-shadow: 0 0 6em 0 rgba(93, 189, 147, 0.215);
    }
}